@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
    --primary: linear-gradient(to bottom right, #0099ff 0%, #9966ff 100%);
    --secondary:linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    --white:#ffffff;
    --underline:#d4dbe5;
    --gray:#aaa;
    --black:#000;
    --copy_icon:#707070;
    --indicator:#dfdfdf;
    --weak: red;
    --medium: yellow;
    ---strong: green;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--primary);
}
.container{
    width: 450px;
    background-color: var(--white);
    border-radius: 5px;
}
.container h2{
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.175rem;
    border-bottom: 1px solid var(--underline);
}
.wrapper{
    margin: 1.25rem 1.75rem;
}
.wrapper .input-box{
    position: relative;
}
.input-box input{
    width: 100%;
    height: 53px;
    color: var(--black);
    background: none;
    font-size: 1.06rem;
    letter-spacing: 1.4px;
    font-weight: 500;
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 0 2.85rem 0 1rem;
}
.input-box span{
    position: absolute;
    right: 13px;
    line-height: 53px;
    cursor: pointer;
    color: var(--copy_icon);
}
.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    background-color: var(--indicator);
    margin-top: 0.75rem;
    border-radius: 25px;
    position: relative;
}
.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    transition: width 0.3s ease;
    border-radius: inherit;
}
.pass-indicator#weak::before{
    width: 20%;
    background-color: var(--weak);
}
.pass-indicator#medium::before{
    width: 50%;
    background-color:var(--medium);
}
.pass-indicator#strong::before{
    width: 100%;
    background-color: var(---strong);
}
.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}
.pass-length .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pass-length input{
    width: 100%;
    height: 5px;
}
.pass-settings .options{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.pass-settings .options .option{
    display: flex;
    margin-bottom: 1rem;
    width: calc(100% / 2);
    align-items: center;
}
.options .option:first-child{
    pointer-events: none;
}
.options .option:first-child input{
    opacity: 0.7;
}
.options .option input{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.options .option label{
    cursor: pointer;
    padding-left: 0.63rem;
}
.wrapper .generate-btn{
    width: 100%;
    font-size: 1.06rem;
    margin: 0.94rem 0 1.3rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    background-image: var(--secondary);
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--white);            
    box-shadow: 0 0 20px #eee;
    display: block;
    border: none;
    outline: none;
}
.generate-btn:hover
{
    background-position: right center;
    color:var(--white);
    text-decoration: none;
}
 